<!DOCTYPE HTML>
<html lang="en" ng-app="Unify">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Roboto:500,400,300" rel="stylesheet" type="text/css">
	<link href="css/ionicons.min.css" rel="stylesheet" type="text/css">
	<link href="css/ionic.css" rel="stylesheet" type="text/css">
	<link href="css/ng-tags-input.min.css" rel="stylesheet" type="text/css">
	
	<link href="css/style.css" rel="stylesheet" type="text/css">

	<link rel="shortcut icon" href="/img/icons/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="/img/icons/favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="/img/icons/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="/img/icons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/img/icons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/img/icons/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#134ba8">
	<meta name="msapplication-TileImage" content="/img/icons/mstile-144x144.png">
	<meta name="msapplication-config" content="/img/icons/browserconfig.xml">
	<title>Unify</title>
</head>
<body ng-class="{popupActive: popup}">

	<div class="page-holder">
		<header ng-if="pageTitle">
			<span class="back-button ion-ios7-arrow-left" ng-if="backButton" ng-click="navigate(backButton)"></span>
			<h1>{{pageTitle}}</h1>
			<p ng-if="pageSubTitle" class="pageSubTitle">{{pageSubTitle}}</p>
		</header>

		<div ng-controller="menuController" ng-init="init()">
			<nav class="left">
				<ul ng-if="signedIn && menuState">
					<li ng-click="navigate('notifications')" class="ion-ios7-bell-outline" ng-class="{active: menuState == 'notifications'}"><span>Notifications</span><div class="bullet" ng-if="notificationCount > 0">{{notificationCount}}</div></li>
					<li ng-click="navigate('projects')" class="ion-ios7-folder-outline" ng-class="{active: menuState == 'projects'}"><span>Projects</span></li>
					<li ng-click="navigate('settings')" class="ion-ios7-gear-outline" ng-class="{active: menuState == 'settings'}"><span>Settings</span></li>
					<li ng-click="navigate('signin/signout')" class="ion-ios7-locked-outline"><span>Sign out</span></li>
				</ul>

				<ul ng-if="!signedIn">
					<li class="ion-ios7-bell-outline disabled"><span>Notifications</span></li>
					<li class="ion-ios7-folder-outline disabled"><span>Projects</span></li>
					<li class="ion-ios7-gear-outline disabled"><span>Settings</span></li>
					<li ng-click="navigate('signin')" class="ion-ios7-unlocked-outline" ng-class="{active: menuState == 'signin'}"><span>Sign in/up</span></li>
				</ul>
			</nav>

			<nav class="right">
				<ul ng-if="showProjectMenu">
					<li ng-repeat="item in projectMenu.items" class="{{item.icon}}" ng-class="{ active: currentTab == item.name }" ng-click="projectMenuShowTab(item.name)"><span>{{item.name}}</span><div class="bullet {{item.color}}" ng-if="item.count">{{item.count}}</div></li>
				</ul>
			</nav>
		</div>

		<div class="view-holder" ng-view ng-init="init()" autoscroll="true"></div>

		<div class="footer">
			<div class="footer-inner">
				<img src="img/logo-small.png">
				<span>
					<a href="/#/" target="_blank">Home</a>&nbsp;&nbsp;
					<a href="/#/about" target="_blank">About</a>&nbsp;&nbsp;
					<a href="/#/help" target="_blank">Guides and documentation</a>
					<br>&copy; 2014 Unify
				</span>
			</div>
		</div>
	</div>

	<popup ng-if="popup" data="popup"></popup>

	<script type="text/javascript" src="libs/angular.min.js"></script>
	<script type="text/javascript" src="libs/angular-route.min.js"></script>
	<script type="text/javascript" src="libs/angular-animate.min.js"></script>
    <script type="text/javascript" src="libs/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="libs/ng-tags-input.min.js"></script>
<!--    <script type="text/javascript" src="libs/d3.min.js"></script>
    <script type="text/javascript" src="libs/dangle.min.js"></script>-->
    
	<script type="text/javascript" src="app.js"></script>

	<script type="text/javascript" src="app/controllers/menuController.js"></script>
	<script type="text/javascript" src="app/controllers/homeController.js"></script>
	<script type="text/javascript" src="app/controllers/helpController.js"></script>
	<script type="text/javascript" src="app/controllers/signInController.js"></script>
	<script type="text/javascript" src="app/controllers/tutorialController.js"></script>
	<script type="text/javascript" src="app/controllers/verificationController.js"></script>
	<script type="text/javascript" src="app/controllers/projectsController.js"></script>
	<script type="text/javascript" src="app/controllers/projectController.js"></script>
	<script type="text/javascript" src="app/controllers/newProjectController.js"></script>
	<script type="text/javascript" src="app/controllers/settingsController.js"></script>
	<script type="text/javascript" src="app/controllers/notificationsController.js"></script>

	<script type="text/javascript" src="app/directives/popupDirective.js"></script>

	<script type="text/javascript" src="app/factories/base64Factory.js"></script>
	<script type="text/javascript" src="app/factories/fileFactory.js"></script>
	<script type="text/javascript" src="app/factories/userFactory.js"></script>
	<script type="text/javascript" src="app/factories/projectFactory.js"></script>
	<script type="text/javascript" src="app/factories/notificationFactory.js"></script>
	<script type="text/javascript" src="app/factories/projectMenuFactory.js"></script>

</body>
</html>