<div class="padding max-width-750" ng-if="!category">
	<span class="list-header">Notifications</span>
	<ul class="list half">
		<li><a href="#/help/notifications#types">Notification types</a></li>
		<li><a href="#/help/notifications#email">Notifications for email</a></li>
		<li><a href="#/help/notifications#mobile">Notifications for mobile devices</a></li>
	</ul>

	<span class="list-header">Projects</span>
	<ul class="list half">
		<li><a href="#/help/projects">Projects</a></li>
		<li><a href="#/help/projects#new">Creating a new project</a></li>
		<li><a href="#/help/projects#delete">Deleting a project</a></li>
	</ul>

	<span class="list-header">Participants</span>
	<ul class="list half">
		<li><a href="#/help/participants">Participants</a></li>
		<li><a href="#/help/participants#new">Inviting someone</a></li>
		<li><a href="#/help/participants#remove">Removing a participant</a></li>
	</ul>
 
	<span class="list-header">Messages</span>
	<ul class="list half">
		<li><a href="#/help/messages">Messages</a></li>
		<li><a href="#/help/messages#new">Writing a message</a></li>
		<li><a href="#/help/messages#remove">Removing a message</a></li>
	</ul>

	<span class="list-header">Tasks</span>
	<ul class="list half">
		<li><a href="#/help/tasks">Tasks</a></li>
		<li><a href="#/help/tasks#new">Assigning a task</a></li>
		<li><a href="#/help/tasks#finish">Finishing a task</a></li>
		<li><a href="#/help/tasks#remove">Removing a task</a></li>
	</ul>

	<span class="list-header">Files</span>
	<ul class="list half">
		<li><a href="#/help/files">Files</a></li>
		<li><a href="#/help/files#new">Adding a file</a></li>
		<li><a href="#/help/files#remove">Removing a file</a></li>
	</ul>
</div>

<div ng-if="category == 'notifications'" class="max-width-750">

	<h2 class="blue padding" id="types">Notification types</h2>

	<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken.</p>
	<p class="small padding">Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.</p>
	<p class="small padding">Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken.</p>

</div>

<div ng-if="category == 'files'" class="max-width-750">

	<p class="small padding">'Files' is one of the four main categories of project resources. Unify does not host files, but lets you share links to files. This way you can keep working with the tools you love, like Dropbox, Google Docs and Evernote.</p>

	<h2 class="blue padding" id="types">File types</h2>

	<p>You can add any link you want as a file. Unify will try to recognize the file type and display a preview.</p>
	<p class="small padding">Unify currently recognizes files from Dropbox, Google Drive, Google Maps, Youtube and Evernote. We are working on supporting more platforms and file types.</p>

	<h2 class="blue padding" id="new">Adding a file</h2>

	<p>To add a file, you just have to provide us with a (public) link to the file.</p>

	<p class="small padding">Obtaining a public link can be different for each file provider. Here's how to do it for a few major providers:</p>

	<h4 class="blue padding">Dropbox</h4>

	<div class="image-to-right">
		<img src="img/help/dropbox-getlink-web.png">

		<p class="small padding">With the Dropbox web application, you can obtain a public link by clicking the Share button. Here's a screenshot of the Share button on the Image Previewer:</p>

		<span></span>
	</div>

	<div class="image-to-right">
		<img src="img/help/dropbox-getlink-native-2.png">

		<p class="small padding">If you have installed the Dropbox software on your computer, you can also create a public link by choosing 'Share Dropbox Link' or 'Copy Public Link' from the right-click menu.</p>

		<span></span>
	</div>

	<h4 class="blue padding">Google Drive</h4>




</div>