<div class="home">
	<h1 class="black"><b>Unify</b> eases <span class="home-page-ticker" ng-class="{ flip: animate }">{{currentWord}}</span>.</h1>
	<p>A tool to simplify collaboration on projects.</p>

	<span class="learn-more">scroll and learn more <i class="ion-ios7-arrow-down"></i></span>
</div>

<div class="intro">
	<div class="small-slide">
		<ul class="image-list"><li>
			<img src="img/providers/skydrive.png">
		</li><li>
			<img src="img/providers/drive.png">
		</li><li>
			<img src="img/providers/dropbox.png">
		</li><li>
			<img src="img/providers/youtube.png">
		</li><li>
			<img src="img/providers/evernote.png">
		</li></ul>

		<h1 class="center">Keep using the apps you love.</h1>
		<p class="center">Store and work on your files the way you're used to.</p>

	</div>
</div>

<div class="intro">
	<div class="icon-slide icon-left">
		<div class="icon-slide-icon">
			<i class="ion-link"></i>
		</div><div class="icon-slide-body">
			<h1>Store all links to your files here.</h1>
			<p>And keep a clear overview.</p>
		</div>
	</div>
</div>

<div class="intro">
	<div class="icon-slide icon-right">
		<div class="icon-slide-body">
			<h1>One place to share and discuss.</h1>
			<p>With a built-in discussion board and task list.</p>
		</div><div class="icon-slide-icon">
			<i class="ion-chatboxes"></i>
		</div>
	</div>
</div>

<div class="intro">
	<div class="icon-slide icon-left">
		<div class="icon-slide-button">
			<a ng-click="navigate('signin')" class="button">Sign up</a>
		</div><div class="icon-slide-body">
			<h1>Try Unify.</h1>
			<p>It's free and will stay free forever.</p>
		</div>
	</div>
</div>