<div class="popup" ng-class="{show: show, head: data.head}">
	<form class="popup-body" id="popup-body" data-ng-bind-html="data.content" tabindex="1" ng-keypress="actionKey($event)"></form>
	<div class="popup-head" ng-class="{show: show}" ng-if="data.head">
		<a ng-if="data.head.left" class="button borderless gray small left" href="{{data.head.leftPath}}" target="_blank">{{data.head.left}}</a>
		<a ng-if="data.head.cancel" class="button gray small" ng-click="close()">{{data.head.cancel}}</a>
		<a ng-if="data.head.action" class="button small" ng-click="action()">{{data.head.action}}</a>
	</div>
</div>